<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ComponentFactory.Krypton.Workspace" publicKeyToken="a87e673e9ecb6e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.1.0" newVersion="4.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ComponentFactory.Krypton.Toolkit" publicKeyToken="a87e673e9ecb6e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.501.0" newVersion="4.6.501.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ComponentFactory.Krypton.Navigator" publicKeyToken="a87e673e9ecb6e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.1.0" newVersion="4.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ComponentFactory.Krypton.Ribbon" publicKeyToken="a87e673e9ecb6e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.1.0" newVersion="4.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ServerIp" value="http://localhost:63802"/>
  </appSettings>
</configuration>